
		<!-- Registration Form -->

		<div class="marginContainer"></div>

		<div class="registration-container">

			<form method="POST" id="registration-form" onsubmit="return validate()" >

				
				

				<fieldset id="identifying-information">
					<legend>Identifying Information</legend>
	
					<div>
						<label for="email">Email</label><br>
						<input type="email" name="email" id="email" class="input-box" required>
					</div>
	
					<div>
						<label for="password">Password</label><br>
						<input type="password" name="password" id="password" class="input-box" required>
					</div>
	
					<div>
						<label for="user-name">User's Name</label><br>
						<input type="text" name="user-name" id="user-name" class="input-box" required>
					</div>
	
					<div>
						<label for="description">Provide a short description:</label><br>
						<textarea rows="5" cols="60" name="description" id="description" class="input-box" placeholder="max 200 characters" maxlength="200" required></textarea>
					</div>
	
					<div>
						<label for="user-image">Upload Image</label><br>
						<input type="file" name="user-image" id="user-image" required>
					</div>
				</fieldset>
	
				<fieldset id="location-information">
					<legend>Location Information</legend>
	
					<div>
						<label for="postal-code">Postal/Zip Code</label><br>
						<input type="text" name="postal-code" id="postal-code" class="input-box" required>
					</div>
	
					<div>
						<label for="phone">Phone (optional)</label><br>
						<input type="tel" name="phone" id="phone" class="input-box">
					</div>
				</fieldset>
	
				<fieldset id="preferences">
					<legend>Preferences</legend>
	
					<fieldset class="pet-ownership-wrapper">
						<legend>Pet ownership</legend>
	
						<div class="pet-ownership">
							<input type="checkbox" name="pet-owner" id="pet-owner" value="pet-owner">
							<label for="pet-owner">Do you have a pet?</label><br>
						</div>
					</fieldset>

					<fieldset class="unlockable-pet-options">
						<legend>Select Pet Options</legend>

						<div>
							<label for="pet-type">What type of pet do you have?</label><br>
							<select name="pet-options" id="pet-type" disabled> <!-- Make required when enabled -->
								<option value="dog">Dog</option>
								<option value="cat">Cat</option>
								<option value="pig">Pig</option>
								<option value="bird">Bird</option>
							</select>
						</div>

						<div>
							<label for="pet-name">Pet Name</label><br>
							<input type="text" name="pet-options" id="pet-name" class="input-box" disabled>
						</div>

						<div>
							<input class="checkable-pet-options" type="checkbox" name="pet-options" id="looking-for-playdate" value="looking-for-playdate" disabled>
							<label for="looking-for-playdate">Do you want to find a playdate for your pet?</label><br>
						</div>

						<div>
							<input class="checkable-pet-options" type="checkbox" name="pet-options" id="looking-for-parent" value="looking-for-parent" disabled>
							<label for="looking-for-parent">Do you want to find a new parent for your pet?</label><br>
						</div>
					</fieldset>
	
					<fieldset class="dating-wrapper">
						<legend>Dating</legend>
	
						<div class="dating">
							<input type="checkbox" name="looking-for-date" id="looking-for-date" value="looking-for-date">
							<label for="looking-for-date">Are you looking for a human date?</label><br>
						</div>
					</fieldset>
					
					<fieldset class="services-wrapper">
						<legend>Services</legend>
						
						<div class="services">
							<input type="checkbox" name="services" id="services" value="services">
							<label for="services">Are you offering pet services?</label><br>
						</div>
					</fieldset>
	
					<fieldset class="unlockable-service-options">
						<legend>Select at least one Service Option</legend>

						<div>
							<input class="checkable-service-options" type="checkbox" name="service-options" id="pet-groomer" value="pet-groomer" disabled>
							<label for="pet-groomer">Pet Grooming</label><br>
						</div>
						<div>
							<input class="checkable-service-options" type="checkbox" name="service-options" id="pet-walker" value="pet-walker" disabled>
							<label for="pet-walker">Pet Walker</label><br>
						</div>
						<div>
							<input class="checkable-service-options" type="checkbox" name="service-options" id="pet-trainer" value="pet-trainer" disabled>
							<label for="pet-trainer">Pet Trainer</label><br>
						</div>
						<div>
							<input class="checkable-service-options" type="checkbox" name="service-options" id="pet-sitter" value="pet-sitter" disabled>
							<label for="pet-sitter">Pet Sitter</label><br>
						</div>
						<div>
							<input class="checkable-service-options" type="checkbox" name="service-options" id="pet-daycare" value="pet-daycare" disabled>
							<label for="pet-daycare">Pet Daycare</label><br>
						</div>
						<div>
							<input class="checkable-service-options" type="checkbox" name="service-options" id="pet-foods" value="pet-foods" disabled>
							<label for="pet-foods">Pet Foods</label><br>
						</div>
						<div>
							<input class="checkable-service-options" type="checkbox" name="service-options" id="pet-products" value="pet-products" disabled>
							<label for="pet-products">Pet Products</label><br>
						</div>
						<div>
							<input class="checkable-service-options" type="checkbox" name="service-options" id="pet-mobile-clinic" value="pet-mobile-clinic" disabled>
							<label for="pet-mobile-clinic">Pet Mobile Clinic</label><br>
						</div>
						<div>
							<input class="checkable-service-options" type="checkbox" name="service-options" id="veterinarian" value="veterinarian" disabled>
							<label for="veterinarian">Veterinarian</label><br>
						</div>
						<div>
							<input class="checkable-service-options" type="checkbox" name="service-options" id="pet-radio-show" value="pet-radio-show" disabled>
							<label for="pet-radio-show">Pet Radio Show</label><br>
						</div>
					</fieldset>
					
					<input type="submit" id="submit_form" value="Register">
				</fieldset>			
			</form>
		</div>

		<div class="marginContainer"></div>

		<!--Form Logic-->
		<script src="js/validate-form.js" type="text/javascript"></script>
		<script src="js/enable-pet-options.js" type="text/javascript"></script>
		<script src="js/enable-service-options.js" type="text/javascript"></script>
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<!-- Swiper -->
		<script src="js/swiper-bundle.js"></script>
		<!-- Custom JS -->
		<script src="js/mobile-menu.js" type="text/javascript"></script>
	</body>
</html>