<!DOCTYPE html>
<html>
	<!-- Basic metadata -->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="application-name" content="Pet Harmony">
		<meta name="author" content="Jeff Antoun">
		<meta name="description" content="Prototype for Pet Harmony's 'Register' page ">
		<meta name="keywords" content="pets, dogs, playdates, meet people, meet dogs">
		<title><%= page %> | <%= title %></title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/nav.css">
		<link rel="stylesheet" href="css/signin.css">
		<!-- Swiper -->
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&display=swap" rel="stylesheet">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://kit.fontawesome.com/7905e3a2f6.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<!-- Navigation-->
		<nav>
      
      <div class="img-wrapper" onclick="window.open('/', '_self');">
        <img src="media/petharmony-logo.png" alt="<%= title %> Logo - Picture of"/>
      </div>
      
      <div id="mobile-nav-menu" data-open=false class="nav-wrapper-mid desktop-only">
        <a class="nav-link" href="/playdate">Playdates</a>
        <a class="nav-link" href="/service">Services</a>
        <a class="nav-link" href="/adoption">Adoption</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link mobile-only" href="/signin">Sign-In</a>
      </div>

      <div class="nav-wrapper-right">
        
        <i class="fas fa-bars mobile-only" id="mobile-nav-icon"></i>
        
        <a class="nav-link desktop-only" href="/signin">Sign-In</a>

      </div>
    </nav>

    <section class="section-wrapper">
      <!-- Left Col -->
      <div class="left-col">
        <img src="media/signin_pets.png" alt="Graphic of a Cat, dog, bird, lizard and rabbit." />
      </div>
      
      <!-- Right Col-->
      <div class="form-wrapper">
        <h4 class="mobile-only">WELCOME BACK!</h4>
        <h3 class="desktop-only">WELCOME BACK!</h3>
        <form method="POST">
          <fieldset id="signin-information">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" name="email" id="email" required>
            </div>

            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" name="password" id="password" required>
            </div>
  
          </fieldset>
          <input class="button button-primary" type="submit" id="submit_form" value="Sign In">
        </form>
        <!-- Alternative options for signing in -->
        <h5 class="social-label">Or sign in with...</h5>
        <div class="icon-group">
          <a class="social-icon" href="">
            <img src="media/google_icon.svg" alt="Sign in using google" />
          </a>

          <a class="social-icon" href="">
            <img src="media/facebook_icon.svg" alt="Sign in using facebook" />
          </a>

          <a class="social-icon" href="">
            <img src="media/linkedin_icon.svg" alt="Sign in using linkedin" />
          </a>
        </div>
        <a href="/register" class="signin-register">Don't have an account? Sign up here!</a>
      </div>
    </section>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<!-- Swiper -->
		<script src="js/swiper-bundle.js"></script>
		<!-- Custom JS -->
		<script src="js/mobile-menu.js" type="text/javascript"></script>
	</body>
</html>