/* .pets-information{
    margin-top: 2%; 
} */

.page-content{
    margin: 2%;
    display: flex;
    /* grid-template-columns: 1fr;
    grid-gap: 25px;
    grid-template-rows: auto; */
}

.all-pets{
    display: flex;
    /* grid-gap: 30px; */
    flex-wrap: wrap; 
    font-size: 1.2rem;
}

.pets-card{
    text-align: center;
    border-radius: 16px;
    box-shadow: 3px 3px 8px 4px rgba(0,0,0,0.15);
    max-width: 250px;
    max-height: 450px;
    padding: 5%;
    margin-right: 2%;
    margin-top: 1%;
}

.pets-card img{
    width: calc(100% - 2rem);
    max-width: 250px;
    margin: 0 auto 1rem;
    border-radius: 12%;
}

.pets-card p {
    text-align: left;
}

.pets-card li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}

.pets-card ul {
    text-align: left;
    list-style-type:none;
    padding:0px;
    margin:0px;
}