/* #registration-form
{
	display: grid;
	grid-template-columns: 1fr 1fr;
} */

#identifying-information
{
	grid-area: identity;
}

#location-information
{
	grid-area: location;
}

#preferences
{
	grid-area: preferences;
}

#submit-form
{
	grid-area: submit;
}