/* 
  Base character styles and layout
*/

.profile-section {
  padding: 1rem 2rem;
  margin: 0;
}

.img-wrapper {
  max-width: 400px;
  padding: 1rem;
  padding-bottom: calc(1rem - 4px);
  margin: 2rem 0;
  border-radius: 18px;
  box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.2);
  background: var(--primary-grey);
}

.text-wrapper {
  max-width: 400px;
}

.img-wrapper img {
  width: 100%;
}
html,
body {
  overflow-x: hidden !important;
}
h4 {
  margin-bottom: 0.5em;
}

.text-wrapper h4 {
  position: relative;
  display: inline-block;
  padding: 1rem 0;
  padding-right: calc(29px + 1rem);
  cursor: pointer;
}

.edit-profile-icon {
  position: absolute;
  top: calc(50% - 16px);
  height: 32px;
  right: 0;
}

.text-wrapper h4:hover::after {
  content: "Edit Profile";
  position: absolute;
  font-style: italic;
  font-size: 0.8em;
  width: 100%;
  height: 100%;
  /* background: red; */
  top: calc(50% - 30.5px);
  left: calc(100% + 0.5rem);
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .profile-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 1rem auto;
    align-items: center;
    justify-items: center;
    grid-gap: 4rem;
  }

  .text-wrapper {
    margin-right: auto;
    margin-left: 0;
  }

  .img-wrapper {
    margin-left: auto;
    margin-right: 0;
  }

  .profile-section .img-wrapper:nth-of-type(3) {
    margin-right: auto;
    margin-left: 0;
    order: 1;
  }

  .profile-section .text-wrapper:nth-of-type(4) {
    order: 0;
    margin-left: auto !important;
    margin-right: 0;
  }
}

/* 
  Modal Styles 
*/

#edit-profile-modal {
  position: fixed;
  padding: 1rem;
  top: 0;
  left: 0;
  width: calc(100% - 2rem);
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

#edit-profile-modal span {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 4rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem;
}

.form-wrapper {
  position: relative;
  background: white;
  width: calc(100% - 2rem);
  max-width: 768px;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 3px 3px 14px 5px rgba(0, 0, 0, 0.2);
}

form input[type="text"],
form textarea {
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary-blue);
  border-radius: 12px;
  font-size: 1.2rem;
}

.button-wrapper {
  margin-top: 1rem;
}

form input[type="submit"] {
  font-size: 1.4em;
}
form textarea {
  border-bottom-right-radius: 0;
}

form label input {
  margin-bottom: 0.75rem;
  padding: 0.25rem 0.5rem 0.25rem 0;
}

form label p {
  font-size: 1.5em;
  font-weight: 500;
}

form .preview {
  max-width: 400px;
  width: 100%;
}

form .preview img {
  width: 100%;
  border-radius: 14px;
}
