body {
    background-image: linear-gradient(
        rgba(183, 84, 163, 0.44),
        rgba(200, 181, 36, 0.515)
    );
}

h1{
    color: #344759;
}

fieldset {
    border: 3px solid #9ca5aa28;
    margin: 5% 0;
    padding: 5% 5%;
    background: rgba(252, 246, 239, 0.33);
    /* border-radius: 5%; */
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Questrial', sans-serif;
    color: #344759e5;
}

legend::after {
    content: "";
    display: block;
    width: 75%;
    height: 1.6px;
    background: #34475920;
    margin: 2px;
}

label {
    color: #344759c2;
}

.title {
    justify-content: center;
    align-items: center;
    display: flex;
}

.marginContainer {
    margin-top: 2%;
}

.registration-container {
    width: 70%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 0 auto;
    line-height: 2rem;
    background: #f9fbfc3f;
}

#submit_form {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #b5b5b5;
    background: var(--primary-blue);
    color: rgba(255, 255, 255, 0.693);
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.input-box {
    width: 100%;
    height: 25px;
    border-radius: 8px;
    border: 1.2px solid var(--primary-blue);
}

#description {
    height: 100%;
}

.required:after {
    content:" *";
    color: red;
}

.preview img {
	padding: 1rem;
	border-radius: 14px;
	box-shadow: 0 3px 14px 5px rgba(0, 0, 0, 0.2);
	background: white;
	display: none;
	width: 100%;
	max-width: 350px;
	margin: 1rem auto 0 0;
  }