.page-content{
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    grid-template-rows: auto;
}

.featured-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.featured-container div h3{
    text-align: center;
    color: #b5b5b5;
}

.featured-services{
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.service-description{
    text-align: center;
    border-radius: 16px;
    box-shadow: 3px 3px 8px 4px rgba(0,0,0,0.15);
    max-width: 416px;
    max-height: 600px;
    padding: 10% 5%;
}

.service-picture{
    text-align: center;
    border-radius: 16px;
    box-shadow: 3px 3px 8px 4px rgba(0,0,0,0.15);
    max-width: 216px;
    max-height: 416px;
    padding: 1%;
}

.service-picture img {
    width: 100%;
    max-width: 250px;
    margin: 0 0 0;
    border-radius: 12%;
}

.all-services{
    margin-top: 2%;
    display: flex;
    grid-gap: 30px;
    flex-wrap: wrap;
}

.services-card {
    text-align: center;
    border-radius: 16px;
    box-shadow: 3px 3px 8px 4px rgba(0,0,0,0.15);
    max-width: 200px;
    max-height: 450px;
    padding: 5%;
    line-height: 1.5rem;
}

.services-card img {
    width: calc(100% - 2rem);
    max-width: 165px;
    margin: 0 auto 1rem;
    border-radius: 12%;
}

.services-card p {
    text-align: center;
    margin-bottom: 25px;
}

.services-card li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}

.services-card ul {
    text-align: left;
    list-style-type:none;
    padding:0px;
    margin:0px;
}

.services-section{
    display: flex;
    align-items: center;
    /* width: 80%; */
    justify-content: center;
    /* background-color: aqua; */
}

.services-card ion-icon {
    font-size: 64px;
}