nav{
  background: rgb(245, 245, 245);
  border-bottom: 2px solid rgba(0,0,0,0.3);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 2rem);
}

#mobile-nav-menu{
  position: absolute;
  width: calc(100% - 2rem);
  top: calc(100% + 2px);
  left: 0;
  background: rgb(245, 245, 245);;
  padding: 2rem 1rem;
  flex-direction: column;
}

nav .img-wrapper{
  padding: 1rem;
  border-radius: 100%;
  max-width: 50px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.25);
  background: var(--tertiary-blue);
}

nav .nav-wrapper-right{
  margin-left: auto;
  font-size: 2rem;
}

nav img{
  width: 100%;
}

nav a {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.25rem;
}

@media screen and (min-width: 1024px){

  nav{
    justify-content: center;
  }

  nav .nav-wrapper-mid{
    flex: 5;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #mobile-nav-menu{
    position: static;
    flex-direction: row;
    padding: 1rem;
  }

  nav .nav-wrapper-right{
    flex: 2;
    text-align: center;
    margin-left: 0;
  }

  nav a {
    transition: 125ms ease;
    border-bottom: 2px solid transparent;
    margin: 0 2rem;
  }

  nav a:hover{
    border-bottom: 2px solid var(--primary-pink);
    color: var(--tertiary-blue);
  }
}