.testimonials{
  margin: 1rem 0;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1400px;
}

.author-wrapper{
  padding: 0 2rem;
  display: flex;
  align-items: flex-end;
  width: calc(100% - 8rem);
  position: relative;
  bottom: -2rem;
}

.author-wrapper p {
  margin: 0;
}

.testimonial .author{
  max-width: 125px;
  border-radius: 100%;
  box-shadow: 3px 3px 12px 8px rgba(0,0,0,0.15);
  border: 4px solid white;
  margin-right: 2rem;
}

.testimonial-body{
  width: calc(100% - 8rem);
  margin: 0 auto 2rem;
  box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.2);
  padding: 3rem 2rem 2rem;
  border-radius: 12px;
}

.testimonial-body p {
  margin-top: 1rem;
}